%ul.pricing-table
  %li.price
    Your most popular movies
  %li.description
    = link_to 'Spiderman', '#'
  %li.description
    = link_to 'Batman', '#'
  %li.description
    = link_to 'Gotham', '#'
