= render partial: 'profiles/user_header'
- if @movies.any?
  = render 'shared/sortable'
  = render @movies
  = will_paginate @movies, renderer: FoundationPagination::Rails

-else
  %h3 No movies created