= render partial: 'profiles/user_header'
- if @movies_voted.any?
  = render 'shared/sortable'
  = render @movies_voted
  = will_paginate @movies_voted, renderer: FoundationPagination::Rails
- else
  %h3 No votes