/ TOUR STOPS
%ol.joyride-list{"data-joyride" => ""}
  %li{"data-id" => "firstStop", "data-options" => "tip_location: top; prev_button: false", "data-text" => "Next"}
    %p Hello and welcome to MovieRama: an online movie sharing platform. Rate movies, leave comments and share with your friends. Here you can sort movies based on: likes/hates or date created.
  %li{"data-class" => "custom so-awesome", "data-id" => "numero1", "data-prev-text" => "Prev", "data-text" => "Next"}
    %h4 Search movies
    %p Feeling hard finding a movie? You can seach a movie anytime you want and start sharing.

  %li{"data-button" => "Next", "data-id" => "numero2", "data-options" => "tip_location:top;tip_animation:fade", "data-prev-text" => "Prev"}
    %h4 Stop #2
    %p Get the details right by styling Joyride with a custom stylesheet!

  %li{"data-button" => "End", "data-prev-text" => "Prev"}
    %h4 Register
    %p Register an account and start sharing movies now!
