$("span.label").text("Not Searching");
$("span.label").removeClass("alert");
$("span.label").addClass("success");

<% @movies.each do |movie| %>
    $("#searched-movie").append("<li data-id=\"<%=movie.id%>\"> <a href='#'> <%= movie.title %> </a> (<%= movie.release_date %>) </li>");
<% end %>
